.git
.gitignore
node_modules
**/node_modules
venv
**/venv
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/dist
**/build
target
**/target
tests
test
**/tests
**/test
*.spec.*
*.test.*
coverage
htmlcov
.coverage
coverage.xml
.idea
.vscode
.DS_Store
