node_modules
**/node_modules
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv
venv
**/.venv
**/venv
.env
dist
**/dist
build
**/build
target
**/target
tests
test
**/tests
**/test
*.spec.*
*.test.*
coverage
htmlcov
.pytest_cache
.coverage
coverage.xml
.idea
.vscode
.DS_Store
